
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* .navbar{
    background-color: blue !important;
} */
.register-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
/* tansection page */
.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 0 3px gray;
}


/* ant icons */
.active-icon{
    color: red;
}
.inactive-icon{
    color: gray;
}
